.banner-info1 h1 {
    font-size: 2em;
    color: 
    #fff;
    margin: 0;
    line-height: 1.8em;
    /*width: 65%;*/
}

#loggedin{
    text-align: center;
}
.custom_heading{
    position: absolute; 
    width: 100%; 
    opacity: 0;
}
.custom_banner{
    background: rgba(0, 0, 0, 0.2);
}
.custom_banner_heading{
    color:#fff;
}
.cstm_img{
    height: 200px !important;
}
.cstm_page{
    color:red;
}
 .col-md-3.new-collections-grid {

    padding-top: 10px;
    }
    .color-box.active, .color-box:hover {
-webkit-transform: scale(1.5);
-moz-transform: scale(1.5);
-ms-transform: scale(1.5);
-o-transform: scale(1.5);
transform: scale(1.5);
}

.banner-bottom-grid-left1-pos p {
    /* color: red; */
    background-color: rgba(0, 0, 0, 0.3);
     
}
	.checked {
  color: green;
}
.hd_desp {
    font-size: 18px;
    text-align: justify;
}
span.item_price {
    font-size: 15px;
}
.cstm_bottom{
    display:none;
}
.cstm_product_img{
    height: 200px !important;
}
.cstm_product_page{
    color:red;
}
.cstm_contact_ifr{
    border:0;
}
.cstm_login_success{
    color: green;
    text-align: center;
}
.cstm_login_error{
    color:red;
}
.error{
	color:red !important;
}
.cstm_checkout_success{
    display:none;
}
.cstm_checkout_sp{
    float:right;
}
.cstm_checkout_oid{
    color: #d8703f;
}
.cstm_checkout_odate{
    color: #d8703f;
}
.cstm_checkout_dng{
    margin: 0;
}
.cstm_checkout_tdimg{
    width: 56px;
}
.cstm_checkout_inp{
    width: 123px;
}
.cstm_checkout_pro{
    float:right;
    margin-top: 44px;
    width: 100%;
    text-align: center;
}
.cstm_checkout_guestem{
    float: left;
}
.cstm_checkout_notify{
    font-size: 14px;
    color: red;
}
.cstm_checkout_frm{
    float: left;
}
.callout-danger {
		background-color: #fdf7f7;
		border-color: #D65C4F !important;
		}
.callout {
		margin: 0 0 35px 0;
		padding: 20px;
		border-left: 3px solid #eee;
		}

.checkout-left-basket h4 {
   
    	background: #2f8441 !important;
		}
.checkout-left-basket {
    	float: right !important;
 		}
.cstm_forgot_dng{
    color:red;
}
.cstm_forgot_reco{
    color:green;
}
.cstm_forgot_notfnd{
    color:red;
}
.cstm_ordhist_edpro{
    float:right;
}
.cstm_ordhist_img{
    width: 56px;
}


.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }

.not_found{
    
     background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAxMC8yOS8xMiKqq3kAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAABHklEQVRIib2Vyw6EIAxFW5idr///Qx9sfG3pLEyJ3tAwi5EmBqRo7vHawiEEERHS6x7MTMxMVv6+z3tPMUYSkfTM/R0fEaG2bbMv+Gc4nZzn+dN4HAcREa3r+hi3bcuu68jLskhVIlW073tWaYlQ9+F9IpqmSfq+fwskhdO/AwmUTJXrOuaRQNeRkOd5lq7rXmS5InmERKoER/QMvUAPlZDHcZRhGN4CSeGY+aHMqgcks5RrHv/eeh455x5KrMq2yHQdibDO6ncG/KZWL7M8xDyS1/MIO0NJqdULLS81X6/X6aR0nqBSJcPeZnlZrzN477NKURn2Nus8sjzmEII0TfMiyxUuxphVWjpJkbx0btUnshRihVv70Bv8ItXq6Asoi/ZiCbU6YgAAAABJRU5ErkJggg==);
}
 .footer-logo.animated.wow.slideInUp.animated a img {
        width: 22%;
        }
.cstm_frntlay_hdgrd{
    display:none;
}
.cstm_frntlay_glfuser{
    color:green;
}
.cstm_frntlay_wel{
    display:none;
}
.centr{
    /*display:inline;*/
    text-align:center;
}
.in_stck{
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    padding: 6px 12px;
    border-radius: 4px;
}
.out_stck{
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    padding: 6px 12px;
    border-radius: 4px;
}
.cat-h{
        font-size: 25px!important;
}
.cont-h{
        font-size: 20px!important;
}